<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chisj.weight.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="org.chisj.weight.pojo.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="REAL" />
    <result column="bmi" property="bmi" jdbcType="REAL" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, weight, bmi, time, valid, createTime, modifyTime, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wt_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wt_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chisj.weight.pojo.Record" >
    insert into wt_record (id, weight, bmi, time, 
      valid, createTime, modifyTime, 
      modifier)
    values (#{id,jdbcType=INTEGER}, #{weight,jdbcType=REAL}, #{bmi,jdbcType=REAL}, #{time,jdbcType=VARCHAR}, 
      #{valid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.chisj.weight.pojo.Record"
    useGeneratedKeys="true" keyProperty="id">
    insert into wt_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="bmi != null" >
        bmi,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="modifyTime != null" >
        modifyTime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        #{bmi,jdbcType=REAL},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chisj.weight.pojo.Record" >
    update wt_record
    <set >
      <if test="weight != null" >
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        bmi = #{bmi,jdbcType=REAL},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chisj.weight.pojo.Record" >
    update wt_record
    set weight = #{weight,jdbcType=REAL},
      bmi = #{bmi,jdbcType=REAL},
      time = #{time,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据条件查询体重记录 -->
  <select id="recordShowAll" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT * FROM wt_record
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="startTime != null and startTime.length() > 0">
        AND `time` &gt;= #{startTime, jdbcType=VARCHAR}
      </if>
      <if test="endTime != null and endTime.length() > 0">
        AND `time` &lt;= CONCAT(#{endTime, jdbcType=VARCHAR}, ' 23:59:59')
      </if>
    </trim>
    ORDER BY `time` desc
  </select>
</mapper>